
<div> 
  <img src="assets/GeulaFlorence.jpg">
</div>

<div>
  <h1>Geula Katan</h1>
</div>

<hr>

<div>
  Welcome to my website! 

  Raised in Portland, Oregon, I got my B.Sc. in Computer Science from Brandeis University in 2016 
  and immediately afterwards fulfilled my dream of aliyah to Israel!
<br>
<br>
  While working as a BI (Business Intelligence) Developer in the greater Tel Aviv area for the last two and a half years,
  I've discovered a passion for web and front-end development.
<br>
<br>
  I also love travelling and acrylic painting. Galleries will be added soon!
</div>
