<br/>
<span> <a download="Geula Katan's Resume" target="_blank" href="/assets/Geula Katan's Resume.pdf"> Download CV </a> </span> 
<span style=" border-right: 1px grey solid; margin-left: 10px; margin-right: 10px;"> </span>
<span> <a href="https://www.linkedin.com/in/geulakatan/"> My LinkedIn </a> 
</span>
<br/>
<hr/>

<div> 
<object
  data="/assets/Geula Katan's Resume.pdf"
  type="application/pdf"
  style="width: 100%;  height: 75vh">
  <p>Your browser does not support PDFs.
    <a href="/assets/Geula Katan's Resume.pdf">Download the PDF</a>.</p>
</object>
</div>

<!-- <div>
<h4>About Me </h4>

<p> <b> Objective: </b> To leverage my technical BI skills as a Front-End or Web Developer and solve challenging front-end problems while expanding my skills in CSS, HTML, JS, and Angular. Looking in the greater Tel Aviv area.</p>

</div> -->