<div class="container bg-custom">

<div class="photo-container">
<div class="photo-crop" style="margin: 0 auto;"> 
  <img class="photo-img" src="assets/GeulaPhoto.jpg">
</div>
</div>

<ul class="nav flex-column nav-pills nav-fill bg-custom">
  <li class="nav-item">
    <a class="nav-link active" href="#"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> About Me </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Resume </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Galleries </a>
  </li>
</ul>

</div>