.photo-container {
    padding:10px;
    width: 100%;
}

.container {
    height: 100%;
}

/*** recoloring bootstrap's navbar items ***/
.bg-custom {
    background-color: ghostwhite;
}

.nav-link-color {
    color: #ffffff;
}

a {
    cursor: pointer;
}

.nav-pills > li > a.active {
    background-color: #4b0082;
    color: #ffffff;
}

.nav-pills > li > a:hover {
    color: #4b0082 !important;
}

.nav-pills > li > a.active:hover {
    color: #ffffff !important;
}
