<div class="container bg-custom">

<div class="photo-container">
<div class="photo-crop" style="margin: 0 auto;"> 
  <img class="photo-img" src="assets/GeulaPhoto.jpg">
</div>
</div>

<ul class="nav flex-column nav-pills nav-fill bg-custom">
  <li class="nav-item">
    <a class="nav-link active" (click)="onClickHome()" role="button"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="onClickAbout()" role="button"> About Me </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="onClickResume()" role="button"> Resume </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="onClickGallery()" role="button"> Galleries </a>
  </li>
</ul>

</div>